body {
    background-color: #a6cce7;
}

/* hover behavior for all inputs */
form p {
    font-size: 1.5em;
}

form p:hover {
    color: white;
    background-color:#db9191;
}

/* apply shadow to the game container */
.game {
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

/* when hovering over answers */
li.option:hover {
    color: purple;
    font-size: 1.5em;
    cursor: pointer;
}

/* when asnwer is correct */
.correct {
    color: green;
    font-size: 1.5em;
}

/* when answer is wrong */
.wrong {
    color: red;
    font-size: 1.5em;
}
